/* Estilos generales */
body {
    font-family: Times, serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #000000;         /* text color */
    background-color: #ffffff:  /* #c0c0c0;  background color */
}

/* Estilos para la cabecera */
.header {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    padding: 20px;
    border-bottom: 2px solid #ddd;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

.title {
    font-size: 1.5em;
    color: #333;
}

h2, h3, h4 {
    text-align: left;
    margin-left: 3%;
    margin-right: 3%;
}
h1 {
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
    }


h1 { margin-top: 2rem; margin-bottom: 0rem; }
h2 { margin-top: 1.5rem; margin-bottom: 0rem; }
h3 { margin-top: 1.25rem; margin-bottom: 0rem; }
h4 { margin-top: 1rem; margin-bottom: 0rem; }

.content {
            /* display: flex;
            flex-direction:column;
            align-items: flex-start; */
            width: 100%;
            }
.content img {
            float: left;
            margin-left: 3%;            
            /* flex: 0 0 25%; */
            max-width: 25%;
            margin-right: 1rem; 
            height: auto; 
          }
.content p {
            /* flex: 1; */
            text-align: justify;
            hyphens: auto;
            margin-right: 3%;
            margin-left: 3%;
            /* overflow: hidden;*/
            }
.content footer {
        margin-left: 0;
        margin-right: 0;
        text-align: center;  /* Centra el texto dentro del footer */
        padding: 1rem 0;
    }
p.sdendnote {
    font-size: 10pt;
    text-indent: -0.6cm;
    margin-left: 0.6cm;
    margin-top: 0;
    margin-bottom: 0;
    /* padding: 0; */
    padding-left: 15px;
    }
a.sdendnoteanc { font-size: 57% }
.sdendnotesym {margin-right: 0.6em }
p {
    text-align: justify;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0;
}
